In [1]:
import pandas as pd

In [4]:
dmd_df=pd.read_excel(io="vfcorp_scp.xlsx",sheet_name="demand",skiprows=0)

In [5]:
dmd_df

  brand  style   color  size1  size2  qty
0    TB    111     RED     55     55  100
1    TB    111  YELLOW     55     55  100
2    SW    222    BLUE     40     40   50
3    SW    222   GREEN     40     40   10

In [7]:
spy_df=pd.read_excel(io="vfcorp_scp.xlsx",sheet_name="supply",skiprows=0)

In [8]:
spy_df

  brand  style color  size1  size2  qty
0    TB    111   RED     55     55  100
1    SW    222  BLUE     40     40   25

In [9]:
#build demand Key
dmd_df

  brand  style   color  size1  size2  qty
0    TB    111     RED     55     55  100
1    TB    111  YELLOW     55     55  100
2    SW    222    BLUE     40     40   50
3    SW    222   GREEN     40     40   10