In [35]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:200% !important; }</style>"))

In [36]:
from datetime import datetime
# from pyspark.sql.functions import udf,DataType,when,length,trim,col,lit
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,DateType,LongType,DoubleType,StringType,IntegerType,TimestampType

In [37]:
spark = SparkSession.Builder().master("local[1]") \
          .appName("tmpdriver") \
          .getOrCreate()

file1 = "/home/susi/Project/datamesh/data_bkup/data/smaple_data_empl_dummy_1.csv"
file2 = "/home/susi/Project/datamesh/data_bkup/data/smaple_data_empl_dummy_2.csv"

In [38]:
df1 = spark.read.options(delimiter=',',header="true").csv(file1)
df2 = spark.read.options(delimiter=',',header="true").csv(file2)

In [39]:
df1_2 = df1. \
 withColumnRenamed("Emp ID"                ,"Emp_ID")\
.withColumnRenamed("Name Prefix"           ,"Name_Prefix")\
.withColumnRenamed("First Name"            ,"First_Name")\
.withColumnRenamed("Middle Initial"        ,"Middle_Initial")\
.withColumnRenamed("Last Name"             ,"Last_Name")\
.withColumnRenamed("Gender"                ,"Gender")\
.withColumnRenamed("Age in Yrs."           ,"Age_in_Yrs")\
.withColumnRenamed("Date of Joining"       ,"Date_of_Joining")\
.withColumnRenamed("Age in Company (Years)","Age_in_Company_Yrs")\
.withColumnRenamed("Salary"                ,"Salary")\
.withColumnRenamed("Place Name"            ,"Place_Name")\
.withColumnRenamed("County"                ,"County")\
.withColumnRenamed("City"                  ,"City")\
.withColumnRenamed("State"                 ,"State")\
.withColumnRenamed("Zip"                   ,"Zip")

In [40]:
df1_2.printSchema()
# df1_2.filln

root
 |-- Emp_ID: string (nullable = true)
 |-- Name_Prefix: string (nullable = true)
 |-- First_Name: string (nullable = true)
 |-- Middle_Initial: string (nullable = true)
 |-- Last_Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age_in_Yrs: string (nullable = true)
 |-- Date_of_Joining: string (nullable = true)
 |-- Age_in_Company_Yrs: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Place_Name: string (nullable = true)
 |-- County: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zip: string (nullable = true)

In [41]:
# sdf_schema = StructType([\
#         StructField("Emp_ID"            ,LongType()  ,True),\
#         StructField("Name_Prefix"       ,StringType(),True),\
#         StructField("First_Name"        ,StringType(),True),\
#         StructField("Middle_Initial"    ,StringType(),True),\
#         StructField("Last_Name"         ,StringType(),True),\
#         StructField("Gender"            ,StringType(),True),\
#         StructField("Age_in_Yrs"        ,DoubleType(),True),\
#         StructField("Date_of_Joining"   ,DateType()  ,True),\
#         StructField("Age_in_Company_Yrs",DoubleType(),True),\
#         StructField("Salary"            ,DoubleType(),True),\
#         StructField("Place_Name"        ,StringType(),True),\
#         StructField("County"            ,StringType(),True),\
#         StructField("City"              ,StringType(),True),\
#         StructField("State"             ,StringType(),True),\
#         StructField("Zip"               ,StringType(),True),\
#     ])

In [44]:
df1_3 = df1_2 \
.withColumn('Emp_ID', when(length(trim(col('Emp_ID'))) == 0 ,None).otherwise(df1_2["Emp_ID"].cast(LongType()))) \
.withColumn('Name_Prefix', when(length(trim(col('Name_Prefix'))) == 0 ,None).otherwise(df1_2["Name_Prefix"].cast(StringType()))) \
.withColumn('First_Name', when(length(trim(col('First_Name'))) == 0 ,None).otherwise(df1_2["First_Name"].cast(StringType()))) \
.withColumn('Middle_Initial', when(length(trim(col('Middle_Initial'))) == 0 ,None).otherwise(df1_2["Middle_Initial"].cast(StringType()))) \
.withColumn('Last_Name', when(length(trim(col('Last_Name'))) == 0 ,None).otherwise(df1_2["Last_Name"].cast(StringType()))) \
.withColumn('Gender', when(length(trim(col('Gender'))) == 0 ,None).otherwise(df1_2["Gender"].cast(StringType()))) \
.withColumn('Age_in_Yrs',      when(length(trim(     col('Age_in_Yrs'))) == 0 , None).otherwise(df1_2["Age_in_Yrs"].cast(DoubleType()))) \
.withColumn('Age_in_Company_Yrs', when(length(trim(col('Age_in_Company_Yrs'))) == 0 ,None).otherwise(df1_2["Age_in_Company_Yrs"].cast(DoubleType())))\
.withColumn('Salary', when(length(trim(col('Salary'))) == 0 ,None).otherwise(df1_2["Salary"].cast(DoubleType())))\
.withColumn('Place_Name', when(length(trim(col('Place_Name'))) == 0 ,None).otherwise(df1_2["Place_Name"].cast(StringType()))) \
.withColumn('County', when(length(trim(col('County'))) == 0 ,None).otherwise(df1_2["County"].cast(StringType()))) \
.withColumn('City', when(length(trim(col('City'))) == 0 ,None).otherwise(df1_2["City"].cast(StringType()))) \
.withColumn('State', when(length(trim(col('State'))) == 0 ,None).otherwise(df1_2["State"].cast(StringType()))) \
.withColumn('Zip', when(length(trim(col('Zip'))) == 0 ,None).otherwise(df1_2["Zip"].cast(StringType())))



df1_3=df1_3.fillna("00/00/0000 00:00:00",["Date_of_Joining"]) 



df1_3.show()  
# df1_3.printSchema()

# df1_2.to_timestamp()
            
# .withColumn('Date_of_Joining', when(length(trim(col('Date_of_Joining'))) == 0 ,'missing').otherwise(df1_2["Date_of_Joining"].cast(DateType()))) \
# .withColumn("Date_of_Joining",    when(length(trim(col('Date_of_Joining'))) != 0 ,to_timestamp("Date_of_Joining").cast('date')))\
# .withColumn('Date_of_Joining',    when(length(trim(col('Date_of_Joining'))) == 0 ,'00/00/0000 00:00:00'))\
# .withColumn("Date_of_Joining", when(length(trim(col('Date_of_Joining')))!=0,to_timestamp("Date_of_Joining", "MM_dd_yyyy"))).otherwise(lit('00/00/0000 00:00:00'))) \
# .withColumn('Date_of_Joining', when(length(trim(     col('Date_of_Joining'))) == 0 , '00/00/0000 00:00:00').otherwise(to_timestamp("Date_of_Joining", "MM/DD/yyyy"))) \
# .withColumn('Date_of_Joining', col('Date_of_Joining').cast('timestamp'))\

#  from_unixtime(unix_timestamp(from_unixtime(unix_timestamp('ts_string', 'MM/dd/yyyy hh:mm:ss a')).cast(TimestampType()), 'MM-dd-yyyy hh:mm:ss')).alias("timestamp2")

+------+-----------+-----------+--------------+---------+------+----------+-------------------+------------------+--------+----------+-------+---------+-----+-----+
|Emp_ID|Name_Prefix| First_Name|Middle_Initial|Last_Name|Gender|Age_in_Yrs|    Date_of_Joining|Age_in_Company_Yrs|  Salary|Place_Name| County|     City|State|  Zip|
+------+-----------+-----------+--------------+---------+------+----------+-------------------+------------------+--------+----------+-------+---------+-----+-----+
|850297|        Ms.|     Shawna|             W|     Buck|     F|     45.66|         12/18/2010|              6.61|119090.0| Las Vegas|  Clark|Las Vegas|   NV|89128|
|  null|        Mr.|  Nathaniel|             Z|    Burke|     M|     23.76|          4/25/2017|              0.26|117991.0|     Irons|   Lake|    Irons|   MI|49644|
|412317|       Drs.|  Elisabeth|             W|   Foster|     F|     22.68|00/00/0000 00:00:00|              0.34|161045.0| Lexington|Fayette|Lexington|   KY|40501|
+------+-----------+-----------+--------------+---------+------+----------+-------------------+------------------+--------+----------+-------+---------+-----+-----+

In [ ]:
# df1_3 = df1_2.withColumn('Emp_ID', when(length(trim(col('Emp_ID'))) == 0),col('Emp_ID'))
#                        .withColumn('Name_Prefix', when(length('Name_Prefix')==0,Null))\
#                        .withColumn('First_Name', when(length('First_Name')==0,Null))\
#                        .withColumn('Middle_Initial', when(length('Middle_Initial')==0,Null)\
#                        .withColumn('Last_Name', when(length('Last_Name')==0,Null)\
#                        .withColumn('Gender', when(length('Gender')==0,Null)\
#                        .withColumn("Date_of_Joining", coalesce(col("Date_of_Joining"), lit('00/00/000 00:00:00'))\
#                        .withColumn("Age_in_Yrs", coalesce(col("Age_in_Yrs"), lit("0.00"))\
#                        .withColumn("Age_in_Company_Yrs", coalesce(col("Age_in_Company_Yrs"), lit("0.00"))\
#                        .withColumn("Salary", coalesce(col("Salary"), lit("0.00")))
#                        .withColumn('Zip', F.lpad(df['Zip'], 5, '0'))

In [ ]:
dir(df1_2)

In [ ]:
# Date_Convert =  udf (lambda x: datetime.strptime(x, '%Y%m%d'), DateType )

In [ ]:
# data = data.withColumn('Emp_ID', when(length(trim(col('Emp_ID'))) == 0, trim('Emp_ID')).otherwise(0))\
#                        .withColumn('Date_of_Joining', when(length('Date_of_Joining')==0,'00/00/000 00:00:00')\
#                        .otherwise(date_format(Date_Convert(col('DATE')), 'MM-dd-yyyy'))\ 
#                        .withColumn("Age_in_Yrs", coalesce(col("Age_in_Yrs"), lit("0.00"))\
#                        .withColumn("Age_in_Company_Yrs", coalesce(col("Age_in_Company_Yrs"), lit("0.00"))\
#                        .withColumn("Salary", coalesce(col("Salary"), lit("0.00")))\
#                        .withColumn('Zip', F.lpad(df['Zip'], 5, '0'))

In [ ]:
# df1_1.printSchema()